body {
}

.book
{
    display:block;
    height:200px;
    }

.bookcover
{
    float:left;
    width:200px;
    height:200px;
    margin-left:50px;
    padding:0px;
    }
.cover
{
    height:200px;
    }
    
.bookInfo
{
    width:240px;
    font-size:110%;
    float:left;
    height:200px;
    padding:0px;
    }
.bookInfo table,
.bookInfo table td,
.bookInfo table tr
{
    border-width:0px;
    }
li
{
    list-style: none;
    min-height: 50px;
    border-top: 1px #CDCDCD dotted;
    list-style-type: none;
}

li .bar
{
    background-color: #EBEFF9;
    text-align:right;
}
.bar span
{
    margin-left:3px;
    }
.bar .user
{
    padding-left:10px;
    text-align:left;
    color: #008080;
    font-weight: bold;
    }
.bar span .time
{
    float:right;
    }
    
#RemarkContent
{
    white-space:normal;
    width:100%;
    height:auto;
    min-height:70px;
    }
    
table
{  
    table-layout:fixed;
    width:100%;
    }

    
.behindBook
{
    margin-top:40px;
    height:auto;
    margin-bottom:10px;
     }
.behindBook td
{
    vertical-align:top;    
    }
.remark
{
    overflow: hidden;
    white-space: normal;
    word-wrap: break-all;
    max-width: 70%;
    width: 70%;
}
.topBar
{    padding :1px 1px 1px 1px ;
    height : 25px;
    border: #bfceff 1px solid;
    font-weight: bold;
    font-size:large;
       /* Firefox 3.6 */  
    background-image: -moz-linear-gradient(top, #ddecfb, #ffffff);   
     /* Safari & Chrome */  
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ffffff),color-stop(1, #ddecfb));   
     /* IE6 & IE7 */  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ddecfb', endColorstr='#ffffff');
    }
.remark p
{
    display:block;
    clear:both;
    }
.buyers
{
    padding-top:3px;
    border-left: 8px #9BBCE1 solid;
    padding-left:5px;
}

.buyers li
{
    padding-top:10px;
    }