.v_show{ margin:0; padding:0; word-break:break-all; }
.v_show h2{ font-size:1em; }
a { color:#2B93D2; text-decoration:none; }
/*a:hover { color:#E31E1C; text-decoration:underline; }*/
.v_show ul,.v_show li { list-style:none; }
.v_show fieldset, .v_show img { border:none; }

/* v_show style */
.v_show { min-width:100%; margin:20px 8% 1px 8%; }
.v_caption { min-width:100%; height:35px; overflow:hidden; background:url(/img/2.jpg) no-repeat 0 0; }
.v_caption h2 { float:left; width:84px; height:20px; margin-left:8px; font-weight:bold; color:#009AD9; }
.v_caption .cartoon { background-position: 0 -100px; }
.v_caption .variety { background-position:-100px -100px; }
.highlight_tip { display:inline; float:left; margin:14px 0 0 10px; }
.highlight_tip span { display:inline; float:left; width:7px; height:7px; overflow:hidden; margin:0 2px; background:url(/img/btn_cartoon.gif) no-repeat 0 -320px; text-indent:-9999px; }
.highlight_tip .current { background-position:0 -220px; }
.change_btn { float:left; margin:7px 0 0 10px; }
.change_btn span { display:block; float:left; width:30px; height:23px; overflow:hidden; background:url(/img/btn_cartoon.gif) no-repeat; text-indent:-9999px; cursor:pointer; }
.change_btn .prev { background-position:0 -400px;  }
.change_btn .next { width:31px; background-position:-30px -400px; }
.v_caption em { display:inline; float:right; margin:10px 12px 0 0; font-family:simsun; }
.v_content { position:relative; width:814px; height:260px; overflow:hidden; border-right:1px solid #E7E7E7; border-bottom:1px solid #E7E7E7; border-left:1px solid #E7E7E7; }
.v_content_list { position:absolute; width:2500px;top:0px; left:0px; }
.v_content ul {float:left; -webkit-padding-start:10px; padding-left:10px;}
.v_content ul li { display:inline; float:left; padding-left:8px; padding-right:8px;padding-top:0px;padding-bottom:8px;width:144px; word-break:break-all;}
/*.v_content ul li a { display:block; width:128px; height:80px; overflow:hidden; }*/
/*.v_content ul li img {  width:128px; height:96px; }*/
.v_content ul li h4 { width:128px; height:18px; overflow:hidden; margin-top:12px; font-weight:normal; }
.v_content ul li h4 a { display:inline !important; height:auto !important; }
.v_content ul li span { color:#666; }
.v_content ul li em { color:#888; font-family:Verdana; font-size:0.9em; }