.searchresult li
{
    border: 2px dotted #00FFFF;
    min-width: 100%;
    display: block;
    list-style: none;
    min-height: 80px;
}
.add
{
    background-color:Yellow;
    }
.list
{
    min-height:80px;
    }
.cover
{
    width:80px;
    height:80px;
    }
.cover img
{
    height:80px;
    }
.bookofinfo
{
    height:70px;
    }
.price
{
    display:none;
    }
.publisher
{
  
    }
 .publishdate
 {
     display:none;
     }
 .isbn
 {
     }
.description
{
      display:none;
      }
