/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background: url('/images/headertop.png') no-repeat scroll center top transparent;
    color:#333333;
    font-family:arial,sans-serif;
    font-size:75%;
    line-height:1.33em;
    margin:0;
    padding:0;
    text-align:center;
}

.Maincontain
{
    padding:1em 0.5em;
    margin:0 auto;
    text-align:left;
    min-width:972px;
    width:81em;
 }

.head
{
    margin-right:0;
    margin-left:0;
    min-width:972px;
    width:81em;
    float:left;
    text-align:left;
}

.headup
{
     margin:0 0 22px;
}
     
.topbar
{
      display:block;
      padding-bottom:0.3em;
      width:100%;
}
.topbartext
{
    font-family:arial,sans-serif;
}
 /*
.topbar ul
{
     width:93%;
     float:left;
     list-style-type:none;
     margin:0;
     padding:0;
}

.topbar li
{
    border-left:1px solid #999999;
    display:inline;
    float:left;
    line-height:20px;
    margin-left:5px;
    padding-left:5px 0 0 0;
}
.topbar li #first
{
    border-left:0 none;
    line-height:20px;
    padding:0 0 0.417em;
    display:inline;
    float:left;
    margin-left:5px;
    padding-left:5px;
    }
    */

#signin
{
    color:#999999;
    font-size:100%;
    line-height:16px;
    margin-right:5%;
    padding-top:1px;
    text-align:right;
    display:block;
 }
 
     
 #signin b
 {
     margin-left:2px;
     margin-right:2px;
     }
 
.logo
{
     display:block;
     float:left;
     min-width:16.7em;
     padding-top:0;
     width:200px;
     margin:0;
     clear:none;
     padding-left:0.417em;
}

.search
{
    min-width:600px;
    padding-top:0.9em;
    width:50em;
    margin:0;
    display:block;
    float:left;
}

.searchboxbar
{
    font-family:arial,sans-serif;
 }
 
 #searchform
 {
     margin:0;
     }
  .searchbox
  {
      }
      
.bo
{
    border:2px solid #C7D9E9;
    clear:both;
    display:block;
    float:left;
}
     
.bi
{
     padding:0 0 0 5px;
     background-color:#FFFFFF;
     border:1px solid #2E6BA5;
     display:block;
     float:left;
}

.hide
{
     display:none;
}
input.text{
     margin:7px 1px 0 0;
     width:396px;
     border:0 none;
     float:left;
     outline:medium none;
}

input.image
{
    height:33px;
    width:185px;
    border:0 none;
    float:left;
    margin:1px 0 0;
    outline:medium none;
    font-size:15px;
    line-height:normal;
    background-image:url("/images/search.jpg");
}
/*----------------------------------------------*/
a:link
{
    color:#999999;
    text-decoration: none;
}
a:visited
{
    color:#666666;
}
a:hover
{
    text-decoration: underline;
}
a:active
{
    color: #666666;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #009AD9;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

#main
{
    padding: 50px 0px 15px 0px;
    background-color: #fff;
    margin-bottom: 30px;
}

/*----------------------------------------------------------*/
/*for foot*/
#footer
{
    margin:0 0 0.667em;
    border-top:1px solid #CDCDCD;
}
.footmain
{
    margin:0.667em;
    font-size:92%;
    line-height:normal;
    padding:0.5em 0 0;
 }
 
 .footmain a
 {
     padding:0 0.833em;
     }

.copyright  
{
    background-position: 450px center;
    color: #999999;
    margin-right: 0 auto;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
}
.copyright p
{
    line-height:20px;
    padding-right:150px;
    padding-top:10px;
    padding-bottom:10px;
    width: 85px;
    text-align:center;
}


/* TAB MENU   
----------------------------------------------------------*/
.MenuPage
{
    width: 100%;
    margin-top:110px;
    margin-left: auto;
    margin-right: auto;
}

ul#menu
{
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    border-top:0px;
    min-width: 100px;
    display: block;
    list-style: none;
    position: relative;
    background-color: transparent;
    margin-right: 1px;
    float:right;
    text-align: center;
    font-family: arial, sans-serif;
}

ul#menu li a
{
    padding: 0.5em 0px;
    border-bottom: 4px solid;
    display: block;
    font-size: 117%;
    font-weight: bold;
    line-height: normal;
    outline: none;
}

ul#menu .Menu1 a
{
    border-color: #6A439C;
    color: #6A439C;
    }
ul#menu .Menu2 a
{
    border-color: #0253A2;
    color: #0253A2;
    
    }
 ul#menu  .Menu3 a
 {
     border-color: #0191CE;
     color: #0191CE;
     } 
 ul#menu .Menu4 a
 {
     border-color: #00AEFF;
     color: #0296DB;
     }
  ul#menu .Menu5 a
 {
     border-color: #58DE81;
     color: #73A846;
     }
     
     
 ul#menu .Menu6 a
 {
     border-color: #89C655;
     color: #43AC63;
     }


ul#menu li a:hover
{
    text-decoration: none;   
}

ul#menu li a:visited
{
    text-decoration: none;   
}


ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}


/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
